.btn-wrapper {
    position: relative;
    height: 50px;
    width: 100px;
}

.btn {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    border-top: 1px solid #000;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    border-left: 1px solid #000;
}

.btn-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    border-bottom: 1px solid #000;
}

.btn-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    border-right: 1px solid #000;
}